<h5>Formulário do Aluno</h5>
<div *ngIf="aluno" class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input
          [(ngModel)]="aluno.nome"
          placeholder="Placeholder"
          id="first_name"
          type="text"
          class="validate"
        />
        <label class="active" for="first_name">Nome</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input
          [(ngModel)]="aluno.email"
          id="email"
          type="email"
          class="validate"
        />
        <label class="active" for="email">Email</label>
      </div>
    </div>
  </div>
</div>

<a routerLink=".." class="waves-effect waves-light btn">Voltar</a>
