<div class="container">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input
        type="nome"
        class="form-control"
        id="nome"
        aria-describedby="nome"
        placeholder="nome"
        formControlName="nome"
      />
    </div>

    <div class="form-group">
      <label for="email">email</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        id="email"
        placeholder="email"
      />
    </div>
    <div class="form-group">
      <label for="email">confirmar email</label>
      <input
        type="email"
        class="form-control"
        formControlName="confirmarEmail"
        id="confirmarEmail"
        placeholder="email"
      />
      <div *ngIf="form.controls.confirmarEmail.errors">
        {{ form.controls.confirmarEmail.errors | json }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label for="nome">Cargo:</label>
        <select
          type="text"
          class="form-control"
          id="cargo"
          aria-describedby="cargo"
          placeholder="cargo"
          formControlName="cargo"
          [compareWith]="compararCargos"
        >
          <option *ngFor="let cargo of cargos | async" [ngValue]="cargo">
            {{ cargo.nivel }}
          </option>
        </select>
      </div>
    </div>

    <div formGroupName="endereco">
      <div class="form-row">
        <div class="col-sm-3">
          <label for="nome">CEP:</label>
          <input
            [maxLength]="8"
            type="cep"
            class="form-control"
            id="cep"
            aria-describedby="cep"
            placeholder="cep"
            formControlName="cep"
            (blur)="consultaCEP()"
          />

        </div>

        <div *ngIf="cepControl">
          <div *ngIf="cepControl.errors">erro </div>
      </div>
        <div class="col">
          <label for="nome">Rua:</label>
          <input
            type="rua"
            class="form-control"
            id="rua"
            aria-describedby="rua"
            placeholder="rua"
            formControlName="rua"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="nome">Numero:</label>
          <input
            type="numero"
            class="form-control"
            id="numero"
            aria-describedby="numero"
            placeholder="numero"
            formControlName="numero"
          />
        </div>
        <div class="col">
          <label for="nome">Complemento:</label>
          <input
            type="complemento"
            class="form-control"
            id="nome"
            aria-describedby="complemento"
            placeholder="complemento"
            formControlName="complemento"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label for="nome">Estado:</label>
          <select
            type="text"
            class="form-control"
            id="estado"
            aria-describedby="estado"
            placeholder="estado"
            formControlName="estado"
          >
            <option
              *ngFor="let estado of estados | async"
              [value]="estado.sigla"
            >
              {{ estado.nome }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="nome">NewsLetter:</label>
        <div class="row">
          <div
            class="col-sm-1"
            *ngFor="let op of newsLetterOp | async; index as i"
          >
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                [value]="op.valor"
                formControlName="newsletter"
              />
              <label class="form-check-label">{{ op.nome }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3">
        <div class="checkbox">
          <label class="checkbox-inline">
            <input formControlName="termos" type="checkbox" /> Aceito os termos
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="nome">Frameworks:</label>
        <div
          class="checkbox"
          class="col-sm-4"
          formArrayName="frameworks"
          *ngFor="let item of getFrameworksControls(); let i = index"
        >
          <label class="checkbox-inline">
            <input type="checkbox" [formControlName]="i" /> {{ frameworks[i]}}
          </label>
        </div>
      </div>
    </div>

    <div>
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
        Submit
      </button>
      <button type="button" (click)="cancelar()" class="btn btn-secondary">
        cancelar
      </button>
    </div>
  </form>
  <div *ngIf="form.controls.email.errors">
    {{ form.controls.email.errors | json }}
  </div>

  <app-form-debug [form]="form"></app-form-debug>
</div>
