<nav *ngIf="mostrarMenu">
  <div class="nav-wrapper">
    <a (click)='logout()' routerLink="" class="brand-logo right">Logout</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active">
        <a routerLink="/">Login</a>
      </li>
      <li routerLinkActive="active">
        <a [queryParams]=queryParams routerLink="/curso">Cursos</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/curso/1">Curso 1</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/alunos">Alunos</a>
      </li>
    </ul>
  </div>
</nav>
